* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

@font-face {
    font-family: 'Formula1'; 
    src: url('../res/Formula1-Regular.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: .7rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: .5rem;
    border: .1rem solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
    border: .1rem solid #888;
}