body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-area: header;
    background-color: red;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    z-index: 2;
}

aside {
    width: 34vw;
    z-index: 2;
}

main {
    background-color: green;
    width: 66vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer {
    grid-area: footer;
    background-color: yellow;
    width: 100%;
    height: 3vh;
    z-index: 2;
}

body > div {
    height: 92vh;
    display: flex;
    
}

aside > div.title {
    position: sticky;
    font-weight: bold;
    height: 2.4rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

aside > div.info {
    height: 100%;
    overflow-y: auto;
}
aside > div.info > p {
    margin: .5rem;
    border: .1rem solid #333;
    border-radius: .3rem;
    padding: .5rem;
}

div.card {
    width: 24rem;
    height: 6.4em;
    display: flex;
    align-items: center;
    margin: 1rem;
    
}

div.card > img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 9rem;
    border: .1rem solid #333;
    background-color: #306;
    z-index: 1;
    box-shadow: .3rem .3rem .3rem #000, .3rem .3rem .5rem inset #fff ;
}

div.card > .card-content {
    width: -webkit-fill-available;
    filter:drop-shadow(.3rem .3rem .5rem #000)
}

div.card > .card-content .driver {
    font-weight: bold;
    border: .1rem solid #333;
    border-radius: 0 .8rem 6.4rem 0;
    background-color: aliceblue;
    padding: .65rem;
    margin-left: -1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: .3rem .3rem .5rem inset #fff;
    
}

div.card > .card-content .driver > span:last-child {
    font-size: 1.6rem;
    font-style: italic;
    /* background-color: black;
    background-clip: text;
    -webkit-background-clip: text; */
    text-shadow: .1rem .1rem 0 #000;
    
}


div.card > .card-content nav {
    border: .1rem solid #333;
    border-top: none;
    border-radius: 0 0 1.6rem 0;
    background-color: aliceblue;
    width: fit-content;
    padding: 0 1.6rem;
    margin-left: -1.3rem;
}

div.card > .card-content nav a {
    padding: .5rem;
    text-decoration: none;
    color: #333;
}

div.card > .card-content nav a:hover {
    color: #f00;
}