body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: Formula1;
    background-color: #666;

    background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");

    user-select: none;
}

body header {
    grid-area: header;
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.6rem;
    z-index: 2;
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
}

body > nav {
    background-color: #333;
    color: #fff;
    height: 3.2rem;
    display: flex;
    align-items: center;
    width: 100%;
}

body > main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

body > footer {
    grid-area: footer;
    width: 100%;
    height: 3rem;
    z-index: 2;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > header > i {
    position: absolute;
    left: 1.6rem;
    background-color: #aaa;
    background-clip: text;
    border: none;
    font-size: 2.4rem;
    display: none;
}

body > nav a {
    padding: .5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

body > nav a:hover {
    /* color: #f00; */
    text-decoration: underline;
}

body > nav a:active {
    text-decoration: underline;
}


body > main > .card {
    width: 28rem;
    height: 6.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    background: repeating-linear-gradient(
        -55deg,
        #2d2d2d,
        #2d2d2d 10px,
        #333 10px,
        #333 20px
    );
    border-top: .5rem transparent;
    color: #fff;
}

body > main > .card > .img {
    width: 6.4rem;
    height: 6.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}   

body > main > .card > .card-content {
    width: -webkit-fill-available;
    filter:drop-shadow(.3rem .3rem .5rem #000)
}

body > main > .card > .card-content .driver {
    font-weight: bold;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;      
}

body > main > .card > .number {
    width: 6.4rem;
    font-size: 3.2rem;
    font-style: italic;
    text-shadow: .1rem .1rem 0 #000;
    text-align: center;
    font-weight: bold;
    margin-right: -1.6rem;
}


body > main > .card > .card-content nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

body > main > .card > .card-content nav a {
    padding: .5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    margin: 0 .5rem;
}
    
body > main > .card > .card-content nav a:hover {
    color: #f00;
} 


body > main > p {
    display: block;
    margin: 1.6rem;
}

body > dialog {
    margin: auto;
    width: 50rem;
    height: 50rem;
    border: .1rem solid #333;
    background-color: #fff;
    outline: none;
    position: absolute;
    user-select: none;
}

body > dialog::backdrop {
    backdrop-filter: blur(.2rem);
    /* background-color: rgba(0,0,0,0.5); */
}

body > dialog > header > i {
    position: absolute;
    left: 1.6rem;
}

body > dialog > main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100% - 6rem);
    width: 100%;
    overflow-y: auto;
    position: relative;
}

body > dialog > main > p {
    margin: 1rem;
}

body > dialog > main > label {
    font-size: 1rem;
}

.active {
    text-decoration: underline;
}



@media screen and (max-width: 500px) {
    header > i {
        display: block;
    }

    body > nav {
        display: none;
        height: fit-content;
        position: absolute;
        top: 5rem;
        z-index: 9;
    }

    body > nav > i {
        display: none;
    }

    body > nav > a {
        padding: 1.6rem;
    }

    .show-nav {
        display: flex;
        flex-direction: column;
    }
}