
.loading {
    width: 28.2rem;
    height: 1.6rem;
    border-radius: .7rem;
    border: .2rem solid #aaa;
    box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.5);
    background: linear-gradient(90deg ,white 50%,black 50%) 0 0%, linear-gradient(-90deg,white 50%,black 50%) 0 50%, linear-gradient(90deg ,white 50%,black 50%) 0 100%;
    background-size: .9rem .4rem;
    background-repeat: repeat-x;
    animation: loop .5s infinite linear;
}

@keyframes loop {
    100% {background-position: -8px 0%,-8px 50%,-8px 100%}
}